@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Nanum+Gothic&display=swap');


.titulo {
    font-family: 'Beth Ellen', cursive;
    position: absolute;
    text-align: center;
    min-width: 2em;
    margin-right: 0%;
    margin-top: 0%;
    padding: 2em 3em;
    font-size: 3em;
    display: flex;
}

.gradiente {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(30deg , #121013, #4d375d, #ef4f4f, #ee9595);
    animation: colors 15s ease infinite;
    background-size: 300% 300%;
    
}

@keyframes colors {

    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.body {

    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

/*CSS do painel de videos*/

.titulo2 {
    
    display: flex;
    font-family: 'Nanum Gothic', sans-serif;
    position: absolute;
    text-align: center;
    min-width: 2em;
    margin-right: 0%;
    margin-top: 0%;
    padding: 2em 3em;
    right: 40%;
}

.flex-container2 {

    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    background-color: #ee9595;
    margin-top: 10em;
    right: 50%;


}

.flex-container2 > .video1 { 

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7rem;
    min-height: 20rem;
    position: absolute;
    width: 50%;
    top: 80em;
    text-align: left;
    top: 70.5em;
    right: 50%;
    
}

.flex-container2 > .video2 { 

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7rem;
    min-height: 20rem;
    position: absolute;
    width: 50%;
    top: 80em;
    text-align: left;
    top: 70.5em;
    left: 50%;
 

}

/*CSS do painel de notícias*/

.titulo3 {
    font-family: 'Nanum Gothic', sans-serif;
    position: absolute;
    text-align: center;
    min-width: 2em;
    margin-right: 0%;
    margin-top: 11em;
    padding: 2em 3em;
    right: 40%;
    margin-top: 26%;
    display: flex;
    
}

.flex-container {

    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-top: 10.5em;
    margin-top: 35%;

}

.flex-container > div {

   
    background: #fff;
    margin: 0.5rem;
    padding: 1rem;
    width: 55em;
    
}

.flex-container > div > p {

    font-size: 1em;
    font-family: 'Nanum Gothic', sans-serif;
    position: absolute;
    width: 31rem;

}

.flex-container > div > img {

    margin-left: 80%;
    width: 20%;
}

.botao {

    background-color: #e8b3d4;
    height: 3rem;
    width: 5rem;
    padding: 0.5;
    border-radius: 1rem;
    border: #ee9595;
    font-family: 'Nanum Gothic', sans-serif;

}

button:hover {
   
    background-color: #e8b3d4;
    height: 3rem;
    width: 5rem;
    padding: 0.5;
    border-radius: 1rem;
    border: #ee9595;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 800;
    cursor: pointer;
}

/* Começo do rodapé */

.rodape {

    display: flex;
    justify-content: center;
    flex-flow: row;
    background-color: #ee9595;
}

.rodape > div {

    justify-content: center;
    width: auto;
    margin: 1em;
    padding: 0.5em;

}

.rodape > div > h1, .rodape > div > ul {

    font-family: 'Nanum Gothic', sans-serif;
    color: black;
    font-weight: 600;

}

.rodape > div > i {

    background-color: black;
    font-size: 3em;
}

/* professor, eu tentei fazer os icones aparecerem de todas as formas mas nenhumas delas funcionou :( */